<Layouts.flash_group flash={@flash} />
<div class="mx-auto max-w-xl space-y-4 text-lg text-center">
  <h1 class="text-5xl">Welcome to GetLoan</h1>
  <p>Hello! Are you looking for a reliable way to secure funding?</p>
  <p>We offer fast and efficient credit solutions tailored to your needs, with flexible terms and a hassle-free application process.</p>
  <p>Get the financial support you need today!</p>
  <.link href={~p"/applications/new"} class="btn btn-primary btn-xl">Make a credit request</.link>
</div>